/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Teko', sans-serif;
  background: #010334;
  color: #fff;
  height: 100vh;
  background-image: url(https://i.imgur.com/0xt78Yb.png);
  background-size: cover;
  background-position: top;
  margin-top: -1em;
}

main {
  text-align: center;
  line-height: 1.5;
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 1fr;
  grid-template-columns: 6em 1fr 1fr 5em;
  grid-template-areas:
  "alphabet title category category"
  "alphabet . . graveyard"
  "alphabet board board graveyard";
}

img, svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  text-align: left;
  font-size: 5rem;
  filter: drop-shadow(2px 4px 1px rgb(160, 0, 210));
  padding-left: 4em;
  margin-top: 0;
}

button {
  background-color:#0a0a23;
  filter: drop-shadow(2px 4px 1px rgb(160, 0, 210));
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  margin: .25em
}

p {
  padding:1em;
  max-width: 65ch;
  text-align: center;
  font-size: 2rem;
}

main > h1 {
  grid-area: title;
}

.flex {
  display: flex;
}

#alphabet {
  grid-area: alphabet;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
}
#board {
  grid-area: board;
}

#hint {
  background-color: #f755be;
  border-radius: 19% 81% 16% 84% / 60% 41% 59% 40% ;
  max-width: 6em;
  margin-left: 5em;
  margin-top: 1.5em;
  position: absolute;
}
#display-wrong-guess {
  grid-area: graveyard;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  margin-right: 2em;
}

#spaceman {
  max-width: 10em;
  margin: 1em auto;

}

#message {
  margin: auto 2em;
  font-size: 2rem;
  background: rgba(160, 0, 210, .7);
  padding: 1.5em;
  border-radius: 50%;
}

#dropdown {
  grid-area: category;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-correct-guess {
  font-size: 3rem;
}

#dropdown {
  padding-top: 2em;
}

#category {
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#category  .select{
  width: 120%;
  background:url('arrow.png') no-repeat;
  background-position:80% center;
}

#category  .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}