/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #010334;
  color: #fff;
  height: 100vh;
  background-image: url(/assets/img/flyingSaucer.png);
  background-size: cover;
  background-position: top;
  margin-top: -1em;
}

main {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  line-height: 1.5;
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 1fr;
  grid-template-columns: 5em 1fr 5em;
  grid-template-areas:
    "alphabet title title"
    "alphabet board graveyard"
    "alphabet board graveyard";
}
img, svg {
  display: block;
  max-width: 100%;
}
h1 {
  text-align: left;
  font-size: 4rem;
  filter: drop-shadow(2px 4px 1px rgb(160, 0, 210));
  padding-left: .5em;
  margin-top: 0;
}

main > h1 {
  grid-area: title;
}

.flex {
  display: flex;
}

#alphabet {
  grid-area: alphabet;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
}
#board {
  grid-area: board;


}
#graveyard {
  grid-area: graveyard;

}

#spaceman {
  max-width: 10em;
  margin: 0 auto;
  
}

#message {
  display: flex ;
  align-self: flex-end;
}