/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Teko', sans-serif;
  background: #010334;
  color: #fff;
  height: 100vh;
  background-image: url(https://i.imgur.com/0xt78Yb.png);
  background-size: cover;
  background-position: top;
  margin-top: -1em;
}

main {
  text-align: center;
  line-height: 1.5;
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 1fr;
  grid-template-columns: 6em 1fr 1fr 5em;
  grid-template-areas:
  "alphabet title category category"
  "alphabet . . graveyard"
  "alphabet board board graveyard";
}
img, svg {
  display: block;
  max-width: 100%;
}
h1 {
  font-family: 'Exo 2', sans-serif;
  text-align: left;
  font-size: 4rem;
  filter: drop-shadow(2px 4px 1px rgb(160, 0, 210));
  padding-left: .5em;
  margin-top: 0;
}
button {
  background-color:#0a0a23;
  filter: drop-shadow(2px 4px 1px rgb(160, 0, 210));
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  margin: .25em
}

p {
  padding:1em;
  max-width: 65ch;
  text-align: center;
}

main > h1 {
  grid-area: title;
}

.flex {
  display: flex;
}

#alphabet {
  grid-area: alphabet;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
}
#board {
  grid-area: board;


}
#display-wrong-guess {
  grid-area: graveyard;
  display: flex;
  flex-direction: column;

}

#spaceman {
  max-width: 10em;
  margin: 0 auto;
  
}

#message {
  margin-bottom: 2em;
  font-size: 2rem;
  background: rgba(160, 0, 210, .7);
  padding: 1em;
  border-radius: 50%;
}


#dropdown {
  grid-area: category;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-correct-guess {
  font-size: 3rem;
}