html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 600px);
}

#spaceman-filmstrip {
  width: 504px;
  height: 687px;
  background-image: url("imgs/spaceman-filmstrip.jpg");
  background-position-x: 0;
}
